<!-- START BLOG WITH SIDEBAR -->
<div class="section pt-0 pb_70">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <hr class="mt-0" />
        <div class="medium_divider clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="blog_article blog_grid_module">
          <div class="blog_post">
            <div class="blog_img">
              <a href="#">
                <img src="assets/images/blog_img1.jpg" alt="blog_img1" />
              </a>
            </div>
            <div class="blog_content">
              <div class="blog_text">
                <div class="blog_tags">
                  <a class="blog_tags_cat bg_blue" href="#">fashion</a>
                </div>
                <h5 class="blog_heading">
                  <a href="#">The Master Of Human Happiness</a>
                </h5>
                <ul class="blog_meta">
                  <li>
                    <a href="#"
                      ><i class="ti-calendar"></i>
                      <span>April 14, 2018</span></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="ti-comments"></i> <span>2 Comments</span></a
                    >
                  </li>
                </ul>
                <p>
                  Ipsum generators on the Internet tend to repeat predefined
                  chunks as necessary, making this generator on the Internet.
                </p>
              </div>
            </div>
          </div>
          <div class="blog_post">
            <div class="blog_img">
              <a href="#">
                <img src="assets/images/blog_img2.jpg" alt="blog_img2" />
                <div class="post_video_icon"><i class="fas fa-play"></i></div>
              </a>
            </div>
            <div class="blog_content">
              <div class="blog_text">
                <div class="blog_tags">
                  <a class="blog_tags_cat bg_warning" href="#">Travel</a>
                </div>
                <h5 class="blog_heading">
                  <a href="#">I Must Explain To This Mistaken</a>
                </h5>
                <ul class="blog_meta">
                  <li>
                    <a href="#"
                      ><i class="ti-calendar"></i>
                      <span>April 14, 2018</span></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="ti-comments"></i> <span>2 Comments</span></a
                    >
                  </li>
                </ul>
                <p>
                  Ipsum generators on the Internet tend to repeat predefined
                  chunks as necessary, making this generator on the Internet.
                </p>
              </div>
            </div>
          </div>
          <div class="blog_post">
            <div class="blog_img">
              <a href="#">
                <img src="assets/images/blog_img3.jpg" alt="blog_img3" />
              </a>
            </div>
            <div class="blog_content">
              <div class="blog_text">
                <div class="blog_tags">
                  <a class="blog_tags_cat bg_danger" href="#">Lifestyle</a>
                </div>
                <h5 class="blog_heading">
                  <a href="#">There Anyone Who Loves Hims</a>
                </h5>
                <ul class="blog_meta">
                  <li>
                    <a href="#"
                      ><i class="ti-calendar"></i>
                      <span>April 14, 2018</span></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="ti-comments"></i> <span>2 Comments</span></a
                    >
                  </li>
                </ul>
                <p>
                  Ipsum generators on the Internet tend to repeat predefined
                  chunks as necessary, making this generator on the Internet.
                </p>
              </div>
            </div>
          </div>
          <div class="blog_post">
            <div class="blog_img">
              <a href="#">
                <img src="assets/images/blog_img4.jpg" alt="blog_img4" />
                <div class="post_video_icon"><i class="fas fa-play"></i></div>
              </a>
            </div>
            <div class="blog_content">
              <div class="blog_text">
                <div class="blog_tags">
                  <a class="blog_tags_cat bg_success" href="#">Music</a>
                </div>
                <h5 class="blog_heading">
                  <a href="#">Which Toil And Pain Can Procure</a>
                </h5>
                <ul class="blog_meta">
                  <li>
                    <a href="#"
                      ><i class="ti-calendar"></i>
                      <span>April 14, 2018</span></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="ti-comments"></i> <span>2 Comments</span></a
                    >
                  </li>
                </ul>
                <p>
                  Ipsum generators on the Internet tend to repeat predefined
                  chunks as necessary, making this generator on the Internet.
                </p>
              </div>
            </div>
          </div>
          <div class="blog_post">
            <div class="blog_img">
              <a href="#">
                <img src="assets/images/blog_img5.jpg" alt="blog_img5" />
              </a>
            </div>
            <div class="blog_content">
              <div class="blog_text">
                <div class="blog_tags">
                  <a class="blog_tags_cat bg_purple" href="#">Photography</a>
                </div>
                <h5 class="blog_heading">
                  <a href="#">Claims Of Duty Or The Obligations</a>
                </h5>
                <ul class="blog_meta">
                  <li>
                    <a href="#"
                      ><i class="ti-calendar"></i>
                      <span>April 14, 2018</span></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="ti-comments"></i> <span>2 Comments</span></a
                    >
                  </li>
                </ul>
                <p>
                  Ipsum generators on the Internet tend to repeat predefined
                  chunks as necessary, making this generator on the Internet.
                </p>
              </div>
            </div>
          </div>
          <div class="blog_post">
            <div class="blog_img">
              <a href="#">
                <img src="assets/images/blog_img6.jpg" alt="blog_img6" />
              </a>
            </div>
            <div class="blog_content">
              <div class="blog_text">
                <div class="blog_tags">
                  <a class="blog_tags_cat bg_danger" href="#">Brand</a>
                </div>
                <h5 class="blog_heading">
                  <a href="#">Every Pleasure Is To Be Welcomed</a>
                </h5>
                <ul class="blog_meta">
                  <li>
                    <a href="#"
                      ><i class="ti-calendar"></i>
                      <span>April 14, 2018</span></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="ti-comments"></i> <span>2 Comments</span></a
                    >
                  </li>
                </ul>
                <p>
                  Ipsum generators on the Internet tend to repeat predefined
                  chunks as necessary, making this generator on the Internet.
                </p>
              </div>
            </div>
          </div>
          <div class="blog_post">
            <div class="blog_img">
              <a href="#">
                <img src="assets/images/blog_img7.jpg" alt="blog_img7" />
              </a>
            </div>
            <div class="blog_content">
              <div class="blog_text">
                <div class="blog_tags">
                  <a class="blog_tags_cat bg_light_green" href="#">Health</a>
                </div>
                <h5 class="blog_heading">
                  <a href="#">Our Being Able To Do The Best</a>
                </h5>
                <ul class="blog_meta">
                  <li>
                    <a href="#"
                      ><i class="ti-calendar"></i>
                      <span>April 14, 2018</span></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="ti-comments"></i> <span>2 Comments</span></a
                    >
                  </li>
                </ul>
                <p>
                  Ipsum generators on the Internet tend to repeat predefined
                  chunks as necessary, making this generator on the Internet.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar">
          <div class="widget">
            <h5 class="widget_title">About Me</h5>
            <div class="about_widget">
              <div class="about_img">
                <img src="assets/images/author_img.jpg" alt="author_img" />
              </div>
              <h5>Alia Brock</h5>
              <p>
                Lorem ipsum dolor sit amet elit adipiscing elit. Praesent id
                dolor dui dapibus gravida elit. Donec sit amet laoreet sagittis.
              </p>
              <img src="assets/images/signature.png" alt="signature" />
            </div>
          </div>
          <div class="widget">
            <h5 class="widget_title">Subscribe Newsletter</h5>
            <p>
              Contrary to popular belief of lorem Ipsm Latin from consectetur
              industry blandit massa enim varius nunc.
            </p>
            <div class="newsletter_form">
              <form>
                <input
                  type="text"
                  required=""
                  class="form-control form-control-sm rounded-input"
                  placeholder="Your email address.."
                />
                <button
                  type="submit"
                  title="Subscribe"
                  class="btn btn-default btn-radius btn-sm"
                  name="submit"
                  value="Submit"
                >
                  subscribe
                </button>
              </form>
            </div>
          </div>
          <div class="widget">
            <h5 class="widget_title">Social Feed</h5>
            <ul class="widget_social social_icons rounded_social">
              <li>
                <a href="#" class="sc_facebook"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a href="#" class="sc_twitter"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="#" class="sc_youtube"
                  ><i class="fab fa-youtube"></i
                ></a>
              </li>
              <li>
                <a href="#" class="sc_instagram"
                  ><i class="fab fa-instagram"></i
                ></a>
              </li>
              <li>
                <a href="#" class="sc_pinterest"
                  ><i class="fab fa-pinterest"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END BLOG WITH SIDEBAR -->

