<!-- START BLOG WITH SIDEBAR -->
<div class="section pt-0 pb_70">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <hr class="mt-0" />
        <div class="medium_divider clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="blog_article blog_grid_module">
          <div class="blog_post">
            <div class="blog_img">
              <a href="#">
                <img src="assets/images/blog_img1.jpg" alt="blog_img1" />
              </a>
            </div>
            <div class="blog_content">
              <div class="blog_text">
                <div class="blog_tags">
                  <a class="blog_tags_cat bg_blue" href="#">fashion</a>
                </div>
                <h5 class="blog_heading">
                  <a href="#">The Master Of Human Happiness</a>
                </h5>
                <ul class="blog_meta">
                  <li>
                    <a href="#"
                      ><i class="ti-calendar"></i>
                      <span>April 14, 2018</span></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="ti-comments"></i> <span>2 Comments</span></a
                    >
                  </li>
                </ul>
                <p>
                  Ipsum generators on the Internet tend to repeat predefined
                  chunks as necessary, making this generator on the Internet.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar">
          <div class="widget">
            <h5 class="widget_title">About Me</h5>
            <div class="about_widget">
              <div class="about_img">
                <img src="assets/images/author_img.jpg" alt="author_img" />
              </div>
              <h5>Alia Brock</h5>
              <p>
                Lorem ipsum dolor sit amet elit adipiscing elit. Praesent id
                dolor dui dapibus gravida elit. Donec sit amet laoreet sagittis.
              </p>
              <img src="assets/images/signature.png" alt="signature" />
            </div>
          </div>
          <candy-subscribe-email></candy-subscribe-email>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END BLOG WITH SIDEBAR -->
<candy-test></candy-test>
