<p>
  The Hershey Company(Hershey's), is an American multinational company and one
  of the largest chocolate manufacturers in the world. Their headquarters is
  located in Hershey, Pennsylvania, which is also home to Hersheypark and
  Hershey's Chocolate World. It was founded by Milton S. Hershey in 1894 as the
  Hershey Chocolate Company, a subsidiary of his Lancaster Caramel Company.
</p>

<p class="brand-line">Check out a video on how Hershey's chocolate is made:</p>

<candy-youtube-player id="ophXa_LvUKk"></candy-youtube-player>

<p class="brand-line">
  Here are some of the delicious brands that Hershey's manufacturers:
</p>

<div class="box">
  <div>Hershey's</div>
  <div>Hershey's Kisses</div>
  <div>Reese's</div>
  <div>Kit Kat</div>
  <div>5th Avenue</div>
  <div>BROOKSIDE</div>
  <div>Cadbury</div>
  <div>Milk Duds</div>
  <div>Heath</div>
  <div>Mounds</div>
  <div>Almond Joy</div>
  <div>Bubble Yum</div>
  <div>Twizzlers</div>
  <div>Jolly Rancher</div>
  <div>Ice Breakers</div>
  <div>Breaksavers</div>
  <div>Payday</div>
  <div>Rolo</div>
  <div>mr.Goodbar</div>
  <div>Whoopers</div>
  <div>Whatchamacallit</div>
  <div>Skor</div>
  <div>Symphony</div>
  <div>York</div>
  <div>Zagnut</div>
  <div>Zero</div>
</div>
