<p>
  The Hershey Company or rather commonly known as Hershey's, is an American
  multinational company and one of the largest chocolate manufacturers in the
  world. Its headquarters are in Hershey, Pennsylvania, which is also home to
  Hersheypark and Hershey's Chocolate World. It was founded by Milton S. Hershey
  in 1894 as the Hershey Chocolate Company, a subsidiary of his Lancaster
  Caramel Company. The Hershey Trust Company owns a minority stake, but retains
  a majority of the voting power within the company
</p>
