<candy-header></candy-header>

<div class="container">
  <div class="section pt-0 pb_70">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <router-outlet></router-outlet>
        </div>
        <div class="col-lg-4">
          <div class="sidebar">
            <candy-subscribe-email></candy-subscribe-email>
            <candy-about-me></candy-about-me>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<candy-footer></candy-footer>
