<div *ngIf="articles">
    <div class="blog_post" *ngFor="let article of articles">
        <div class="blog_img">
          <a href="#">
            <img [src]="article.image" alt="blog_img1" />
          </a>
        </div>
        <div class="blog_content">
          <div class="blog_text">
            <h5 class="blog_heading">
              <a [routerLink]="['/home']">{{ article.header }}</a>
            </h5>
            <ul class="blog_meta">
              <li>
                <a href="#"
                  ><i class="ti-calendar"></i>
                  <span>{{ article.date }}</span></a
                >
              </li>
            </ul>
            <p>{{ article.description }}</p>
            <button class="btn btn-default btn-sm" [routerLink]="['/', article.link]">Read More &nbsp; <i class="fas fa-play"></i></button>
          </div>
        </div>
      </div>
</div>