i {
    margin-bottom: 4px;;

}

.fa-calendar{
    color:#FF324D;
    margin-right: 5px;
}

h5 {
    text-transform: capitalize;
    cursor: pointer;
}

img {
    width: 95%;
}

h5 {
    font-size: 24px;
}

p {
    font-size: 16px;
}