<div class="header">
  <div class="logo">
    Asher's <span style="color: maroon;">Candy</span> Galore
  </div>
  <div class="right-side-header">
      <div class="social-media-links">
      <a href="#">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#">
          <i class="fab fa-pinterest"></i>
        </a>
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
      <div>
          <a href="">Home</a>
          <a href="">Home</a>
          <a href="">Home</a>
          <a href="">Home</a>   
      </div>
  </div>
</div>
