.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: 'Caveat';
    font-size: 48px;
    font-weight: 500;
    padding: 20px;
}

.right-side-header {
    display: flex;
    flex-direction: column;
}

.social-media-links {
    margin: 10px 20px 0px 20px;

  i {
    font-size: 24px;
    padding: 8px;
  }

  .fa-facebook {
    color: #3b5998;
  }

  .fa-pinterest {
    color: #c8232c;
  }

  .fa-twitter {
    color: #00acee;
  }

  .fa-instagram {
    color: transparent;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    background: -webkit-radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    background-clip: text;
    -webkit-background-clip: text;
  }
}
