<!-- START BLOG WITH SIDEBAR -->
<div class="section pt-0 pb_70">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog_article blog_grid_module">
          <candy-article-overview [articles]="articles"></candy-article-overview>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar">
          <candy-subscribe-email></candy-subscribe-email>
          <candy-about-me></candy-about-me>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END BLOG WITH SIDEBAR -->
