<p>
  Meiji Holdings Company, Ltd is a Japanese holding company that was established
  on April 1, 2009, after the stock transfer from Meiji Seika and Meiji Dairies.
  It is the 4th largest confectionery company in the world
</p>

<p>
  Meiji's Group priorities
</p>
<ul>
  <li>
    <span>R&D</span> - In order to grow, Meiji's aim is to satisfy evolving
    consumer tastes and meet the challenges of a diverse range os societal
    requirements.
  </li>

  <li>
    <span>Quality</span> - Trust is built on maintaining a sterling reputation
    over generations
  </li>
</ul>
