<div class="widget">
    <h5 class="widget_title">Subscribe Newsletter</h5>
    <p>
      Subscribe to get the latest news and updates delivered directly to your inbox
    </p>
    <button class="btn btn-default btn-sm">Subsribe</button>
    <!-- <div class="newsletter_form">
      <form>
        <input
          type="text"
          required=""
          class="form-control form-control-sm rounded-input"
          placeholder="Your email address.."
        />
        <button
          type="submit"
          title="Subscribe"
          class="btn btn-default btn-radius btn-sm"
          name="submit"
          value="Submit"
        >
          subscribe
        </button>
      </form>
    </div> -->
  </div>