<div *ngIf="article">
  <div class="blog_post">
    <div class="blog_content">
      <div class="blog_text">
        <h2 class="blog_heading">
          {{ article.header }}
        </h2>
        <ul class="blog_meta">
          <li>
            <i class="fas fa-calendar"></i>
            <span>{{ article.date }}</span>
          </li>
        </ul>
        <div class="topic-section">
          <p>
            {{ article.description }} But before looking jumping straight into
            what sweets you can still eat, let's first discuss what constitues a
            keto diet.
          </p>
          <div class="licensed-img">
            <img src="assets/photoshop/candy/kind-bar.jpg" alt="" />
            <br>
              <a
                href="https://www.flickr.com/photos/jeepersmedia/16197555730/in/photostream/"
                >Kind Bar Display</a
              >
              by
              <a href="https://www.flickr.com/photos/jeepersmedia/">
                Mike Mozart</a
              >
              Licensed under
              <a href="https://creativecommons.org/licenses/by/2.0/">
                Attribution 2.0 Generic (CC BY 2.0)</a
              >
          </div>
          <br />
          <h3 class="blog_heading">
            What is Keto?
          </h3>
          <p>
            A
            <a
              href="https://drdavinahseats.com/keto-blog/what-is-keto"
              target="_blank"
              >keto diet</a
            >(short for ketogenic diet) is based on eating a low-carb, high-fat
            diet, with a moderate amount of protein. By reducing your carb
            intake and replacing it with fat, this puts your body into a
            metabolic state called ketosis. This allows your body to properly
            burn fat for energy, leading to weight loss and good energy levels
            for the brain.
          </p>

          <p>
            So in order to figure out how to add candy to our diet, we first
            need to check if the desired candy has the makeup of a keto-friendly
            candy.
          </p>
        </div>

        <div class="topic-section">
          <h3>Dark Chocolate</h3>

          <p>
            I find that Dark Chocolate is one of those things that people
            completely either love it or hate it. But if you're like me and
            enjoy dark chocolate regularly, this might be worth adding into your
            diet.
          </p>

          <p>
            The build-up of
            <a
              href="https://www.healthline.com/nutrition/is-dark-chocolate-keto"
              >Dark chocolate</a
            >
            is primarily made up of fat and sugar mixed with cocoa. Unlike milk
            chocolate, dark chocolate is made with little to no milk solids and
            contains less sugar and more cocoa. The higher the cocoa percentage
            in the chocolate, the less sugar it has.
          </p>

          <img src="assets/photoshop/candy/chocolate-1.jpg" alt="" />

          <h3>Calculating your carbs</h3>

          <p>
            It's important to
            <a
              href="https://www.healthline.com/nutrition/is-dark-chocolate-keto#carb-content"
              >calculate</a
            >
            your daily carb intake when factoring dark chocolate into your diet.
            1 ounce(28 grams) of dark chocolate with 70%-85% cocoa contains up
            to 13 grams of carbs and 3 grams of fiber, totalling about 10 grams
            of net carbs. Here are a few examples to give you an idea of what to
            expect.
          </p>

          <p>
            At a low end of cocoa content(70%),
            <a
              href="https://paschachocolate.com/collections/all/products/sugar-free-70-cacao-organic-dark-chocolate-2-8-oz-bar"
              >Pascha Organic Bar Zero Dark Chocolate</a
            >
            has 11g of fat, 13g of carbs, 0g of sugar, and 2g of protein.
          </p>

          <p>
            On the high end, nearing almost 100%, one of the richest dark
            chocolate is
            <a
              href="https://www.chocolate.lindt.com/shop/chocolate-flavours/dark-chocolate/excellence-cocoa-90-1"
              >Excellence Cocoa 99%</a
            >
            . This chocolate bar has 51g of fat,1g of sugar, 4.7g of
            carbohydratesm and 15g of protein.
          </p>
        </div>

        <div class="topic-section">
          <h3>Home made recipes</h3>

          <p>
            You won't find much keto-friendly candy at the store, but its really
            easy to make your keto tailored candy to go with your diet.
            Personally I love eating haribo gummy bears, but the 14 grams of
            sugar in each serving is a real let down when I'm trying to get into
            shape. Check out this video to learn how to make home made keto
            gummy candy!
          </p>

          <candy-youtube-player id="KNoSYkZ3QuU"></candy-youtube-player>

          <h3>Keto Candy Recipes</h3>

          <p class="mb-4">
            Of course, let's not forget keto candy recipes by other great bloggers!
          </p>

          <ul class="other-recipes">
            <li>
              <a
                href="https://www.bulletproof.com/recipes/keto-recipes/keto-candy-recipes-3c3g4b4c4t4m/"
              >
                37 Keto Candy Recipes to satisfy your sweethtooth by Bulletproof
              </a>
            </li>
            <li>
              <a
                href="https://alldayidreamaboutfood.com/best-low-carb-keto-candy-recipes/"
              >
                36 Best low carb candy recipes by All Day I Dream About Food
              </a>
            </li>
            <li>
              <a href="https://betterthanbreadketo.com/keto-butterscotch-candy/"
                >Keto Butterscotch Candy by Better Than Bread Keto</a
              >
            </li>
            <li>
              <a href="https://www.lowcarbmaven.com/low-carb-turtle-recipe/">
                Low Carb Turtle Reciple by Low Carb Maven
              </a>
            </li>
            <li>
              <a href="https://howtothisandthat.com/keto-candy-bar-fat-bombs/">
                Keto Candy Bar Fat Bombs by How to This and That
              </a>
            </li>
            <li>
              <a href="https://joyfilledeats.com/buttery-walnut-toffee/"
                >Buttery Walnut Toffee Candy by Joy Filled Eats</a
              >
            </li>
            <li>
              <a
                href="https://beamingbaker.com/keto-candy-3-ingredient-keto-almond-bark-recipe-low-carb/"
                >Keto Candy: 3 Ingredient Keto Almond Bark Recipe (Low Carb) by
                beaming baker</a
              >
            </li>
            <li>
              <a
                href="https://lowcarbinspirations.com/divine-chocolate-dream-keto-candy-recipe/"
                >Divine Chocolate Dream Keto Candy Recipe by Low Carb
                Inspirations</a
              >
            </li>
            <li>
              <a
                href="https://thebigmansworld.com/3-ingredient-keto-chocolate-coconut-cups/"
              >
                3 Ingredient Keto Chocolate Coconut Cups (Paleo, Vegan, Sugar
                Free) by The Big Man's World
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
