<p>
  Nestlé S.A. (/ˈnɛsleɪ, -li, -əl/;[citation needed] French: [nɛsle]) is a Swiss
  multinational food and drink processing conglomerate corporation headquartered
  in Vevey, Vaud, Switzerland. It is the largest food company in the world,
  measured by revenues and other metrics, since 2014.[3][4][5][6][7] It ranked
  No. 64 on the Fortune Global 500 in 2017[8] and No. 33 on the 2016 edition of
  the Forbes Global 2000 list of largest public companies.[9] Nestlé's products
  include baby food, medical food, bottled water, breakfast cereals, coffee and
  tea, confectionery, dairy products, ice cream, frozen food, pet foods, and
  snacks. Twenty-nine of Nestlé's brands have annual sales of over CHF1 billion
  (about US$1.1 billion),[10] including Nespresso, Nescafé, Kit Kat, Smarties,
  Nesquik, Stouffer's, Vittel, and Maggi. Nestlé has 447 factories, operates in
  189 countries, and employs around 339,000 people.[11] It is one of the main
  shareholders of L'Oreal, the world's largest cosmetics company.[12]
</p>
