<p class="company-information">
  Mars Wrigley Confectionery is a division of Mars Inc. Many of their most
  popular products include <span class="candy-name"> M&M’S</span> ,
  <span class="candy-name">SNICKERS</span>,
  <span class="candy-name">ORBIT</span>,
  <span class="candy-name">EXTRA</span> and
  <span class="candy-name">Skittles</span>, which are enjoyed in over 180
  countries.
</p>

<candy-youtube-player></candy-youtube-player>

<p>Here are just some of the brands manufactured by Mars</p>
<p>
  (click the brands to view website)*
</p>

<div class="box">
  <div>
    <a href="https://www.3musketeers.com/" target="_blank">
      3 Musketeers
    </a>
  </div>

  <div>
    <a href="https://5gum.com/" target="_blank">
      5 Gum
    </a>
  </div>

  <div>
    <a href="">Altoids</a>
  </div>

  <div>
    <a href="https://www.americanheritagechocolate.com/" target="_blank">
      American Heritage
    </a>
  </div>

  <div>
    <a href="https://www.amicelli.de/" target="_blank">
      Amicelli
    </a>
  </div>

  <div>
    <a href="https://www.balisto.de/" target="_blank">Balisto</a>
  </div>

  <div>
    Big Red
  </div>

  <div>
    Bounty
  </div>

  <div>
    Celebrations
  </div>

  <div>
    <a href="https://www.combos.com/" target="_blank">
      Combos
    </a>
  </div>

  <div>
    Doublemint
  </div>

  <div>
    <a href="https://dovechocolate.com/tagged/dove" target="_blank">Dove</a>
  </div>

  <div>
    Eclipse
  </div>

  <div>
    <a href="https://www.ethelm.com/" target="_blank">
      Ethel M
    </a>
  </div>

  <div>
    <a href="http://goodnessknows.com/" target="_blank">
      goodnessKnows
    </a>
  </div>

  <div>
    Hubba Bubba
  </div>

  <div>
    <a href="http://juicyfruit.com/" target="_blank"></a>
    Juicy Fruit
  </div>

  <div>
    Life Savers
  </div>

  <div>
    <a href="http://www.mms.com/" target="_blank">
      M&M’S
    </a>
  </div>
  <div>
    <a href="https://maltesersusa.tumblr.com/" target="_blank">
      Maltesers
    </a>
  </div>
  <div>
    <a href="http://www.marsbar.com/" target="_blank"></a>
    Mars
  </div>
  <div>
    <a href="https://www.milkywaybar.com/" target="_blank">
      Milky Way
    </a>
  </div>
  <div>
    My M&M's
  </div>
  <div>
    <a href="https://www.orbitgum.com/" target="_blank">Orbit</a>
  </div>

  <div>
    <a href="https://skittles.com/" target="_blank">
      Skittles
    </a>
  </div>
  <div>
    <a href="https://snickers.tumblr.com/" target="_blank">
      Snickers
    </a>
  </div>
  <div>
    Starburst
  </div>
  <div>
    <a href="https://twix.com/" target="_blank">Twix</a>
  </div>
  <div>
    Winterfresh
  </div>
  <div>
    <a href="https://www.extragum.com/" target="_blank">
      Wrigley's Extra
    </a>
  </div>
  <div>
    Wrigley's Spearmint
  </div>
</div>
