<p>
  In 1946, Pietro Ferrero a confectioner and small-time pastry maker added
  hazelnut as a way to save money on chocolate. This innovation led to the
  development of Nutella. Today, The Ferrero Group is considered the 3rd largest
  chocolate producer and confectionary company in of the world today. Their
  global headquarters is based in Luxembourg, Italy and they are present in 55
  countries and territories around the world: 25 production plants in 5
  continents, 8 Ferrero Hazelnut Company manufacturing plants, 6 agricultural
  companies and the Michele Ferrero Entrepreneurial Project, active in Cameroon,
  South Africa and India.
</p>
<p></p>

<p>
  Among the chocolate confectionary segment, Ferrero has a 13.5% share of the
  global market, ranking it the 3rd largest player in 2017/2018. In the Sweet
  packaged foods segment, Ferrero Group has a 3.4% share of the global market,
  making it hte third largest player in 2018. In 2017/2018, Ferrero sold €10.7
  billion worth of packaged confectionery goods.
</p>

<p class="brand-line">
  Ferrero produces a line a of Ferrero branded chocolate products such as:
</p>

<div class="box">
  <div>
    Pocket Coffee
  </div>

  <div>
    Mon Chéri
  </div>

  <div>
    Ferrero Küsschen
  </div>
</div>

<p class="brand-line">
  Ferrero produces the Ferrero Prestige line, which comprises three different
  brands of pralines:
</p>

<div class="box">
  <div>
    Ferrero Rocher
  </div>

  <div>
    Ferrero Rondnoir
  </div>

  <div>
    Garden Coco
  </div>
</div>

<p class="brand-line">Ferrero's Kinder brand line includes:</p>

<div class="box">
  <div>
    Kinder Surprise
  </div>

  <div>
    Kinder Joy
  </div>

  <div>
    Kinder Chocolate
  </div>
  <div>
    Kinder Happy Hippo
  </div>
  <div>
    Kinder Maxi
  </div>
  <div>
    Kinder Duplo
  </div>
  <div>
    Kinder Country
  </div>
  <div>
    Kinder Délice
  </div>
  <div>
    Kinder Bueno
  </div>
</div>
