<p>
  Mondelez International is one of the world's largest snack companies with
  global net revenues of $25.9 billion and net earnings of $3.4 billion in 2018.
  They sell monstly snacks including biscuits, chocolate, gum, and candy as well
  as various cheese and grocery and powdered beverage products.
</p>

<p>
  Mondelez's mission is to empower people to snack right. They aim to provide
  the right snack at the right time, made the right way. They produce
  high-quality snacks made with sustainable ingredients that consumers can feel
  good about.
</p>

<p class="brand-line">
  Mondelez International Brands are distributed in over 150 countries:
</p>

<div class="box">
  <div>5 Star</div>
  <div>Alphen Gold</div>
  <div>Barni</div>
  <div>Belvita</div>
  <div>Bournvita</div>
  <div>Cadbury</div>
  <div>Cadbury</div>
  <div>Chips Ahoy!</div>
  <div>Clorets</div>
  <div>Club Social</div>
  <div>Côte d'Or</div>
  <div>Enjoy Life Foods</div>
  <div>Freia</div>
  <div>Halls</div>
  <div>Honey Maid</div>
  <div>Kinh Do</div>
  <div>Lacta</div>
  <div>LU</div>
  <div>Marabou</div>
  <div>Maynards Bassett's</div>
  <div>Milka</div>
  <div>Oreo</div>
  <div>Perfect Snacks</div>
  <div>Philadelphia</div>
  <div>Prince</div>
  <div>Ritz</div>
  <div>Royal</div>
  <div>Sour Patch Kids</div>
  <div>Stride</div>
  <div>Tang</div>
  <div>Tate's Bake Shop</div>
  <div>Tiger</div>
  <div>Toblerone</div>
  <div>Trident</div>
  <div>Triscuit</div>
  <div>TUC</div>
  <div>Wheat Thins</div>
</div>
