<p>
  Mondelez International is one of the world's largest snack companies with
  global net revenues of $25.9 billion and net earnings of $3.4 billion in 2018.
  They sell monstly snacks including biscuits, chocolate, gum, and candy as well
  as various cheese and grocery and powdered beverage products.
</p>

<p>
  Mondelez's mission is to empower people to snack right. They aim to provide
  the right snack at the right time, made the right way. They produce
  high-quality snacks made with sustainable ingredients that consumers can feel
  good about.
</p>
