.brand-name {
  font-family: "Caveat";
  font-size: 48px;
  font-weight: 500;
}
// .navbar-collapse {
//   box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
// }
.navbar .navbar-nav > li > .nav-link{
  padding: 10px;
}