p {
    font-size: 16px;
    max-width: 80%;
    margin: 20px 0;
}

.fa-calendar{
    color:#FF324D;
    margin-right: 5px;
}

img {
    width: 25%;
    margin: 5%;
}

.blog_meta {
    margin: 2% 0;
}

.image-layout {
    display: flex;
    justify-content: flex-start;
}

@media only screen and (min-width: 961px) {
    .image-layout {
        flex-direction: center;
    }

    img {
        width: 25%;
    }
  }

@media only screen and (max-width: 960px) {
    .image-layout {
        flex-direction: column;
    }

    img {
        width: 70%;
    }
  }