<div *ngIf="article">
  <div class="blog_post">
    <div class="blog_content">
      <div class="blog_text">
        <h2 class="blog_heading">
          {{ article.header }}
        </h2>
        <ul class="blog_meta">
          <li>
            <i class="fas fa-calendar"></i>
            <span>{{ article.date }}</span>
          </li>
        </ul>
        <div class="topic-section">
          <h3>New candy out of the blue?</h3>
          <p>
            {{ article.description }} I had first heard about sour strips from
            my brother when he was on his way to Houston to workout at the
            Alphalete gym. He had called me to let me know that the gym had some
            sour candy in stock and it was supposedly what people were calling
            "The best candy they've ever had". I checked online and it was
            already sold out online and would take a while before they
            restocked, so on a whim I told me to get $20 worth of the candy.
          </p>

          <p>
            I've always loved sour candy, ex: Sour sweettarts, sour straws,
            warheads and others. And then there were some candy companies that
            just put the word "Sour", in big bold packaging, just because they
            packaging printing ink is cheap or something.
          </p>
        </div>
        <div class="topic-section">
          <h3>What sucks about sour candy</h3>
          <p>
            Here are just some of the issues I tend to come across with majority
            of sour candy.
          </p>
          <ul class="candy-issues">
            <li>A lot of them just aren't sour, sometimes just bland</li>
            <li>
              Not sealable(after a while, the sour content fades, leaving the
              consumer with bland candy)
            </li>
            <li>Wet and sticky</li>
            <li>
              After the 2nd or 3rd piece of candy, the sour sensation afterwards
              with every bite disappears
            </li>
            <li>
              Is "extreme sour" really as sour as the manufactor can make it?
            </li>
          </ul>
        </div>

        <div class="topic-section">
          <h3>The Good news and the Bad news...</h3>
          <p>
            Let's start off with the bad news. Somehow within an hour and a
            half, Alphalete had sold almost run out of stock of Sour Strips, and
            my brother managed to get me only 2 packs Sour Strips, about $7 or
            so of the total of the $20 I initially wanted...
          </p>

          <p>Still, nonetheless, the famed candy had arrived.</p>

          <div class="image-layout">
            <img src="assets\images\sour-strips\strawberry.jpg" alt="" />
            <img src="assets\images\sour-strips\nutrition-facts4.png" alt="" />
          </div>

          <p>
            And now the good news. At a first glance, I really liked the
            packaging and the design. More importantly to me, there was a
            ziplock on the top of the bag so if this candy was the real deal, I
            could savor it for days.
          </p>

          <p>
            So I tore off the seal, and tried out a candy strip. And boy was it
            sour! It was tasty too. This candy had all the elements of what sour
            candy should be. And to put the cherry on top, it wasn't wet!
            Combined with the great packaging, this really is a great product.
            Somehow I managed to eat 2-3 strips, before I felt the sour content
            felt like it was burning my tongue, and yet I wanted to keep eating.
          </p>

          <p>
            Overall, it's really great candy that I would recommend to everyone,
            the only issue is the price, at about $3.50 a bag, it's a bit pricy.
            Hopefully that comes down in the future
          </p>

          <p>
            Anyways here's the
            <a href="https://www.sourstrips.com/"
              ><span class="url-link">LINK</span></a
            >
            to the sour strips website if anyone is interested.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
