<div *ngIf="article">
  <div class="blog_post">
    <div class="blog_content">
      <div class="blog_text">
        <h2 class="blog_heading">
          {{ article.header }}
        </h2>
        <ul class="blog_meta">
          <li>
            <i class="fas fa-calendar"></i>
            <span>{{ article.date }}</span>
          </li>
        </ul>
        <p>
          {{ article.description }} I had first heard about sour strips from my
          brother when he was on his way to Houston to workout at the Alphalete
          gym. He had called me to let me know that the gym had some sour candy
          in stock and it was supposedly what people were calling "The best
          candy they've ever had". I checked online and it was already sold out
          online and would take a while before they restocked, so on a whim I
          told me to get $20 worth of the candy.
        </p>

        <p>
          I've always loved sour candy, ex: Sour sweettarts, sour straws,
          warheads and others. And then there were some candy companies that
          just put the word "Sour", in big bold packaging, just because they
          packaging printing ink is cheap or something. I don't know why, but I
          always find that the sour, puckering sensation in the candy dies off
          around the 2nd or 3rd piece of candy as I go through the bag.
        </p>

        <img src="assets\images\sour-strips\strawberry.jpg" alt="" />
        <img src="assets\images\sour-strips\nutrition-facts2.jpg" alt="" />
        <img src="assets\images\sour-strips\zoomed-in-facts.jpg" alt="" />

        <p>
          {{ article.description }} I had first heard about sour strips from my
          brother when he was on his way to Houston to workout at the Alphalete
          gym. He had called me to let me know that the gym had some sour candy
          in stock and it was supposedly what people were calling "The best
          candy they've ever had". I checked online and it was already sold out
          online and would take a while before they restocked, so on a whim I
          told me to get $20 worth of the candy.
        </p>
      </div>
    </div>
  </div>
</div>
