<br />
<div class="row">
  <div class="col-lg-4 align-img">
    <img src="assets/photoshop/company/mars.jpg" alt="" />
  </div>
  <div class="col-lg-8">
    <br />
    <h2>Mars Wrigley Confectionery</h2>
    <p>
      Website:
      <a href="https://www.mars.com/made-by-mars/mars-wrigley" target="_blank"
        >https://www.mars.com/made-by-mars/mars-wrigley</a
      >
    </p>
    <p>Location: Chicago, Ill., USA</p>
    <p>Net Sales: 18 Billion</p>
    <p>Cheif Officer: Andrew Clarke(Pres. of Mars Wrigley Confectionery)</p>
    <p>Number of Employees: 34,000</p>
    <p>Number of Factories: N/A</p>
  </div>
</div>
<hr />

<h4>Information</h4>
