.company-data {
  p {
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin-bottom: 1px;
  }
}

.align-img {
  display: flex;
  align-self: center;
}

@media only screen and (max-width: 767px) {
  .align-img {
    justify-content: center;
  }
}